@use "../../assets/styles/templates";
@use "../../assets/styles/vars";

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 100px;
  margin: 30px auto;
  @media (max-width: vars.$tablet) {
    gap: 50px 100px;
  }
  @media (max-width: vars.$mobile) {
    gap: 20px 100px;
    text-align: center;
  }
}

.cards {
  position: relative;
  display: flex;
  width: 30vw;
  height: 450px;
  @media (max-width: vars.$desktop-md) {
    width: 50vw;
    height: 400px;
  }
  @media (max-width: vars.$mobile) {
    width: 90vw;
    height: 250px;
  }
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 20px 100px;
  flex-wrap: wrap;
}

.title {
  @include templates.title-style;
  & {
    font-size: 42px;
  }
}

.results {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.subtitle {
  @include templates.title-style;
  & {
    font-size: 36px;
  }
}

.text {
  @include templates.text-style;
  & {
    font-size: 32px;
    font-weight: 300;
  }
}
